{erl_opts, [debug_info]}.
{deps, []}.
{extra_src_dirs, ["examples/templates"]}.
{project_plugins, [rebar3_hex, rebar3_ex_doc]}.
{ex_doc, [
	{extras, [
		{"README.md", #{title => "Overview"}},
		{"LICENSE", #{title => "License"}}
	]},
	{main, "README.md"},
	{homepage_url, "https://github.com/ergenius/erlte"},
	{source_url, "https://github.com/ergenius/erlte"},
	{api_reference, true}
]}.
{hex, [
	{doc, #{provider => ex_doc}}
]}.
