@import "test1.css";

/* a { color: green } */
/**/
/* */
div {
    /* inside */
    color: blue;
    /* between */
    border-radius: 3px / 7px
    /* end */
}
/* b */

a {
    color: blue;
    /* c */
}

.in/**/side {
  color: var/**/(--broken);
  font-family: sans-serif,/**/serif;
}